*{
    padding: 0%;
    margin: 0%;
}

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

.textoBarra{
    text-align: center;
    padding: 6px;
    font-family: 'Poppins';
    font-weight: bold;
    width: auto;
}

.segundaHeader{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0px;
}

.segundaHeader img{
    border-radius: 40px;
}

.marca{
    text-align: center;
}

.nav{
    background-color: rgb(253, 239, 221);
    font-family: 'Poppins';
}

.nav-link{
    --bs-nav-link-color: black;
}

.cardDiv{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 30px 0px;
    gap: 50px;
}

h2{
    font-family: "Poppins";
    text-align: center;
    font-weight: 400;
    letter-spacing: 15px;
    margin: 40px;
}

.card{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 13px;
}

#bannerPele{
    display: flex;
    justify-content: center;
    margin: 40px;
}

#bannerPele img{
    border-radius: 40px;
}

.footer{
    max-width: 1200px;
}
.rodape{
    background-color: rgb(253, 239, 221);
    padding: 20px 0px;
    text-align: center;
    margin: 0px;
    font-family: 'Poppins';
}
